* {
    margin:0;
    padding:0;

}

.background-index{
    background-image: url("/client/img/NewYork.jpg");
    background-size:  100vw 100vh;
    height: 100vh;
    width: 100vw;
    display: block;
    overflow: hidden;
    
}

.background-enregistrement{
background-image: url("/client/img/maison3.jpg");
background-size: 100vw 100vh; 
}

.container-enregistrement{
position: relative;
top: 100px;
left: 50px;
background-color: blanchedalmond;
width: 400px;
font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif  ;
font-weight: bold;
display: flex;
flex-direction: column;
border: red solid 6px;
border-radius: 50px;
}

.sign-in-input-group{
    position: relative;
    top: 50px;
    border: black solid 2px;
    border-radius: 50px;
    height: 125%;
    width: 500px;
    justify-content: center;
    background-color: black;
    margin: auto;
    display: flex;
    flex-direction: column;
  
}
.form{
    width: 100%;
    display: block;
    margin: auto;
}

.conteneur-question-1{
padding-top: 20px;
    display: flex;
text-align: center;
justify-content: right;
padding-right: 40px;

}

.conteneur-question-2{
    display: flex;
text-align: left;
margin-top: 5%;
margin-bottom: 5%;
justify-content: right;
padding-right: 40px;

}
.question-container{
   
    display: flex;
    text-align: center;
    padding-top: 1%;
    margin-left: 20%;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    font-weight: bold;
    font-size: larger;
    color: red;
}
.question-container-2{
    display: flex;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px ;
    margin-left: 20%;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    font-weight: bold;
    font-size: larger;
    color: red;
}

.Password{
    padding-right: 10px ;
}

#password{
    text-align: center;
    border: black 2px solid;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    color: black;
    border-radius: 5px;
    height: 25px;
}

.username-question{
    padding-right: 5px
}

 
#name{
    text-align: center;
    border: black 2px solid;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    color: black;
    border-radius: 5px;
    height: 25px;;
}

.connexion{
    margin-top: auto;
    margin: auto;
    width: 50%;
    height: 50px;
    border: white solid 3px;
    border-radius: 50px;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    font-size: larger;
    background-color: red;
    margin-bottom: 2%;
}

#deadpool{
    width: 200px;
    height: 200px;
    margin: auto;
}

#fire{
    position: absolute;
}

.enregistrer-enregistrement{
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    
}

.homme{
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    top: 400px;
    left: 850px;
    background-color: sandybrown;
    padding: 20px;
    border-radius: 40px;
    border: black 4px solid;
    text-align: center;
}

.bouton-enr{
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    border-radius: 25px;
}
.enregistrer{
   
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    color: black;
    background-color: red;
    text-align: center;
    padding: 10px;
    border: black 6px solid;
    border-radius: 50px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
   
}


#msg{
    
    border: solid black 6px;
    padding: 30px;
    background-color: beige;
    border-radius: 50px;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    font-size: larger;
    text-align: center;
    margin: auto;

    
}

.destroy{
    font-size:xx-large;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    color: white;
padding-bottom: 10%;

}

#helico{
    position: absolute;
    height: 100px;
}

#firetruck{
    position: absolute;
    height: 125px;
}

.div-invisible{
    position: absolute;
    top: 495px;
    left: 1000px;
    height: 200px;
    width: 200px;
    
}

#homme-invisible-0{
    position: absolute;
}

#homme-invisible-1{
    position: absolute;
}

#homme-invisible-2{
    position: absolute;
}

#homme-invisible-3{
    position: absolute;
}

#homme-invisible-4{
    position: absolute;
}

#homme-invisible-5{
    position: absolute;
}

#texte{
    position: absolute;
    font-size:xx-large;
    color: azure;
    font-weight: bold;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    top: 0px
}

#api-message{
    color: red;
    text-align: center;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
    padding: 10px; 
    margin: auto;
    margin-top: 5px ;
    border-radius:20px;
    font-weight: bold;
    
}